apparmor==3.0.4
appdirs==1.4.4
asttokens==2.0.5
backcall==0.2.0
black==22.1.0
btrfsutil==5.16.2
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.2
cycler==0.11.0
decorator==5.1.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docutils==0.16
executing==0.8.2
filelock==3.4.2
fonttools==4.29.1
gps==3.23.1
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
IP2Location==8.6.4
ipython==8.0.1
jedi==0.18.1
kiwisolver==1.3.2
LibAppArmor==3.0.4
libfdt==1.6.1
libinput-gestures-qt==0.4
libvirt-python==8.2.0
Markdown==3.3.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercurial==6.1
more-itertools==8.10.0
msgpack==1.0.3
mypy-extensions==0.4.3
nftables==0.1
numpy==1.22.2
ordered-set==4.0.2
packaging==20.9
pandas==1.4.2
parso==0.8.3
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.27
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.21.0
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
PySimpleGUI==4.57.0
python-dateutil==2.8.2
python-nmap==0.7.1
python-prctl==1.8.1
pytz==2022.1
PyX==0.15
Reflector==2021.11.20.2.41.3
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
scapy==2.4.5
six==1.16.0
stack-data==0.1.4
team==1.0
toml==0.10.2
tomli==2.0.1
traitlets==5.1.1
ufw==0.36.1
urllib3==1.26.9
virtualenv==20.13.1
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.7.0
